body {
    font-family: 'Lato', sans-serif;
}

.green-banner {
    height: 400px;
    background-color: #62c87a;
}

.header-word {
    margin-left: 20px;
    margin-right: 20px;
}

.main-paragraph {
    text-align: center;
    font-size: 14px;
}

.image {
    border-radius: 50%;
    width: 312px;
    height: 300px;

}

.image-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.footer-icon {
    color: white;
    margin-left: 12px;
    margin-right: 12px;
    cursor: pointer;
}

.footer-icon-end {
    color: white;
    margin-left: 12px;
    cursor: pointer;
}

.skills {
    color: #828282;
}

.skills-header {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 40px;
}

.skills-sub-header {
    font-size: 16px;
    font-weight: 700;
}

.skills-section {
    margin-top:60px;
}

.skills-text {
    font-size: 14px;
}

.skills-image {
    max-width: 150px;
    max-height: 150px;
    margin-right: 40px;
    margin-left: 40px;
}
